@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #2f26fa;
  --secondary-color: #63fa31;
  --accent1-color: #bd508f;
  --accent2-color: #ffffff;

  /* change the values below to your chosen font(s) */
  --heading-font: Agbalumo;
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #2f26fa;
  /* headlines on a white background */
  --headline-color-on-color: #ffffff;
  /* headlines on a colored background */
  --paragraph-color-on-white: #2f26fa;
  /* paragraph text on a white background */
  --paragraph-color-on-color: #ffffff;
  /* paragraph text on a colored background */
  --paragraph-background-color: #2f26fa;
  --nav-link-color: #2f26fa;
  --nav-background-color: #63fa31;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #2f26fa;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f26fa;
}

body {
  background-color: white;
  color: #2f26fa;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 22px;
  margin: 25px 0;
  padding: 35px;
}

main section {
  text-align: center;
}

header {
  background-color: #bd508f;
  color: white;
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: #63fa31;
  color: #2f26fa;
}

h1 {
  grid-column: 2/3;
  margin-top: -100px;
  text-align: center;
  font-family: agbalumo, roboto, Helvetica;
  font-size: 3em;
}

h2,
h3,
h4,
h5 {
  /* margin: 0; */
  font-family: agbalumo, roboto, helvetica;
}

footer {
  background-color: #bd508f;
  color: white;
  padding: 25px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer .social img {
  padding-top: 35px;
}

footer p:hover {
  text-decoration: underline;
}

footer a:hover {
  color: #63fa31;
  text-decoration: underline;
}

.logo {
  width: 80px;
  padding: 15px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #2f26fa;
  margin-top: 50px;
}

.hero-img {
  grid-column: 2/3;
  display: block;
  margin: auto;
  width: 100%;
}

.home {
  display: grid;
  grid-template-columns: 3fr 50px 1fr;
  grid-row-gap: 50px;
  margin-top: 50px;
  padding: 25px;
  background-color: #2f26fa;
  color: #ffffff;
}

.home-1 {
  grid-column: 1/2;
  margin: 50px;
  padding: 15px;
  align-self: center;
}

.img-home-1 {
  grid-column: 3/4;
  margin: 50px;
  margin-top: 150px;
  padding: 15px;
  height: 400px;
  width: 500px;
}

.home-2 {
  grid-column: 1/2;
  margin: 50px;
  padding: 15px;
  align-self: center;
}

.img-home-2 {
  grid-column: 3/4;
  margin: 50px;
  margin-top: 150px;
  padding: 15px;
  border: 15px;
  height: 400px;
  width: 500px;
}

.edu-1 {
  grid-column: 1/2;
  margin: 50px;
  padding: 15px;
  border: 15px;
  align-self: center;
}

.img-edu-1 {
  grid-column: 3/4;
  margin: 50px;
  margin-top: 150px;
  padding: 15px;
  border: 15px;
  height: 300px;
  width: 400px;
}

.edu-2 {
  grid-column: 1/2;
  margin: 50px;
  padding: 15px;
  border: 15px;
  align-self: center;
}

.img-edu-2 {
  grid-column: 3/4;
  margin: 50px;
  margin-top: 150px;
  padding: 15px;
  border: 15px;
  height: 300px;
  width: 400px;
}

.edu-3 {
  grid-column: 1/2;
  margin: 50px;
  padding: 15px;
  border: 15px;
  align-self: center;
}

.img-edu-3 {
  grid-column: 3/4;
  margin: 50px;
  margin-top: 150px;
  padding: 15px;
  border: 15px;
  height: 300px;
  width: 400px;
}

.exp-1 {
  grid-column: 1/2;
  margin: 50px;
  padding: 15px;
  border: 15px;
  align-self: center;
}

.img-exp-1 {
  grid-column: 3/4;
  margin: 50px;
  margin-top: 150px;
  padding: 15px;
  border: 15px;
  height: 350px;
  width: 300px;
}

.exp-2 {
  grid-column: 1/2;
  margin: 50px;
  padding: 15px;
  border: 15px;
  align-self: center;
}

.img-exp-2 {
  grid-column: 3/4;
  margin: 50px;
  margin-top: 150px;
  padding: 15px;
  border: 15px;
  height: 300px;
  width: 300px;
}

.exp-3 {
  grid-column: 1/2;
  margin: 50px;
  padding: 15px;
  border: 15px;
  align-self: center;
}

.img-exp-3 {
  grid-column: 3/4;
  margin: 50px;
  margin-top: 150px;
  padding: 15px;
  border: 15px;
  height: 300px;
  width: 300px;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #bd508f;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 1400px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
